[connection]
id={{ digitalocean_vpn_nm_connection_name }}
uuid={{ '' | uuid }}
type=vpn
timestamp=1431630297

[vpn]
service-type=org.freedesktop.NetworkManager.openvpn
key=/etc/openvpn/client.key
comp-lzo=yes
cert=/etc/openvpn/client.crt
remote=104.236.140.196
connection-type=tls
ca=/etc/openvpn/ca.crt
cert-pass-flags=0

[ipv6]
method=auto

[ipv4]
method=auto
