{{ item }}
dev tun
proto udp
remote {{ hostvars["vpn"].ansible_default_ipv4.address }} 1194
remote-cert-tls server
ns-cert-type server

resolv-retry infinite
nobind
persist-key
persist-tun
verb 3

comp-lzo

<ca>
{{ lookup('file', 'openvpn_files/ca.crt') }}
</ca>


<cert>
{{ lookup('file', "openvpn_files/" + item + ".crt") }}
</cert>

<key>
{{ lookup('file', 'openvpn_files/' + item + '.key') }}
</key>
